:root {
    --pcolor: #800000;
    --scolor: #001966;
    --slcolor: #54565c;
}

.hidden {
    visibility: hidden;
}

.small {
    font-size: 0.8rem;
}

.big {
    font-size: 1.5rem;
}

.mgb {
    margin-bottom: 1rem;
}

.mgbs {
    margin-bottom: 0.25rem;
}

.pcolor {
    color: var(--pcolor);
}

.scolor {
    color: var(--scolor);
}

body {
    font-family: "Russo One", "Open Sans", sans-serif;
    margin: 0;

    padding: 0;
}

h1 {
    text-align: center;
    color: var(--scolor);
    margin-bottom: 0.5rem;
}

#time-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    color: var(--scolor);
}

#time-row {
    width: 6em;
    text-align: center;
}

#time-panel button {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #f4f4f4;
    border: 1px solid var(--slcolor);
    border-radius: 10%;
    padding: 2px 2px;
    cursor: pointer;
    transition: background 0.3s;
}

#time-panel button:hover {
    color: #f4f4f4;
    background-color: var(--slcolor);
}

.main-row {
    display: flex;
    justify-content: center;
    gap: 48px;
}

#score-panel {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: space-between;
    align-items: stretch;
}

#item-panel {
    display: flex;
    width: 150px;
}

#item-panel-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-panel-spacer {
    flex: 1 0 auto;
}

.score-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    color: #555;
}

.score-number {
    text-align: center;
}

.score-bar-backing {
    border: 0.75px solid #555;
}

.score-bar {
    background-color: var(--scolor);
}

.score-text {
    font-size: 0.8rem;
    width: 2.5rem;
    text-align: right;
}

canvas {
    display: block;
    border: 3px solid var(--scolor);
}

.info-panel-label, .info-panel-data {
    text-align: center;
}

.info-panel-label {
    color: #333;
    margin-bottom: 0.5rem;
}

.info-panel-data {
    margin-bottom: 2rem;
}

#instruction-panel {
    color: var(--scolor);
    text-align: center;
    margin-top: 1rem;
}